@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    min-height: 100%;
    position: relative;
}

header {
    text-align: center;
    font-size: 25px;
    height: 10vh;
    letter-spacing: 2px;
    text-shadow: 0 0 5px black;
}

body {
    font-family: Roboto, sans-serif;
    background: #fff;
    color: #333;
    margin: 0;
}

.gaming-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.left-about {
    text-align: center;
    padding-top: 10px;
    width: 40%;
    float: left;
}

.right-about {
    text-align: center;
    padding-top: 10px;
    width: 40%;
    float: right;
}

#user-image, #computer-image {
    width: 60%;
}

.game-buttons {
    text-align: center;
    padding-top: 10px;
    height: 10vh;
}

.button {
    background-color: #3dab41;
    border: none;
    color: #fff;
    width: 75px;
    height: 50px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: #87CEEB;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #87CEEB;
    padding-top: 10px;
    bottom: 0;
    position: absolute;
    height: 8vh;
    font-weight: bold;
    box-sizing: border-box;
}