@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  font-size: 25px;
  height: 12vh;
  letter-spacing: 2px;
  text-shadow: 0 0 5px black;
}

body {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  background: #fff;
  color: #333;
}

.left-about {
  padding-top: 10px;
  width: 40%;
  float: left;
  height: 100%;
}

.right-about {
  padding-top: 10px;
  width: 40%;
  float: right;
  height: 100%;
}

.footer {
  height: 10vh;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  background-color: #87CEEB;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}